<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-three-quarters">
      <%= image_tag '/logo.png', class: 'logo-devise' %>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Autorizar aplicação
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="actions">
              <div class="columns">
                <div class="column">
                  <%= form_tag oauth_authorization_path, method: :post do %>
                  <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
                  <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
                  <%= hidden_field_tag :state, @pre_auth.state %>
                  <%= hidden_field_tag :response_type, @pre_auth.response_type %>
                  <%= hidden_field_tag :scope, @pre_auth.scope %>
                  <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge %>
                  <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method %>
                  <%= submit_tag 'Aceitar', class: "button is-success is-outlined is-medium is-fullwidth" %>
                  <% end %>
                </div>
                <div class="column">
                  <%= form_tag oauth_authorization_path, method: :delete do %>
                  <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
                  <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
                  <%= hidden_field_tag :state, @pre_auth.state %>
                  <%= hidden_field_tag :response_type, @pre_auth.response_type %>
                  <%= hidden_field_tag :scope, @pre_auth.scope %>
                  <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge %>
                  <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method %>
                  <%= submit_tag 'Recusar', class: "button is-danger is-outlined is-medium is-fullwidth" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="card-footer">
        </footer>
      </div>
    </div>
  </div>
</div>







