<nav class="navbar is-transparent topbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://br-mediagroup.com/assets/img/logo.svg" alt="BR Midia" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Meu perfil', edit_user_registration_path, class: 'navbar-item' %>
      <%= link_to 'Meus projetos', projects_path, class: 'navbar-item' %>
      <%= link_to 'Minhas aplicações', oauth_applications_path, class: 'navbar-item' %>
      <%= link_to 'Aplicações autorizadas', oauth_authorized_applications_path, class: 'navbar-item' %>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'navbar-item'%>  
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>